<!--<div class="panel-body">
  <uib-alert ng-repeat="alert in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert}}</uib-alert>
  <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
<div class="form-group required">
                <label for="sender-email" class="control-label">Email</label>
                <div class="input-icon">
                  <i class="fa fa-user"></i>
                  <input name="userphone" id="sender-email" type="text" placeholder="Email" class="form-control email" ng-model="email" required>
                </div><br>
                <div>
                    
              </div>
              <div class="form-group">
                <button class="btn btn-success" type="button" ng-click="forgetPassword()" ng-disabled="loginForm.$invalid"><strong>Send</strong></button>
              </div>
          </div>-->


          <!--<div class="color-line"></div>

<div class="back-link">
</div>-->
 
<style>
    body{
   background-color: #fff;
   font-size: 14px;
   color: #8c8c8c ;
   font-weight: 400;
    background: url(images/login_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
</style>

<div>
   

<div class="forgot-container" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary btn-sm pull-right"redirectto-back>Back</button> 

       <div class="col-md-8 col-md-offset-2 text-center m-b-md">
                <img class="img-responsive" src="images/docubasic_white_logo.png" />
            </div>
        </div>
     
	 <div class="col-md-12">
	 <br> <br>
                    <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
           <uib-alert ng-repeat="error in errors" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{error}}</uib-alert>
       
        <h3 class="login-h1 white">Forgot Password</h3>
        
         </div>

        <div class="col-md-12">
            
            <div class="hpanel">

                <div class="col-sm-12 no-padding">
                    <div class="forgot_doccolor">
                         <br>
                         <form name="loginForm" role="form">
                             <br> 
                           <div class="form-group required" ng-class="{'has-error': loginForm.userphone.$touched && loginForm.userphone.$error.required}">
                            <label for="sender-email" class="control-label white">Email</label>
                <div class="inner-addon left-addon">
                  <i class="glyphicon"><img src="images/icons/user.png"></i>
                 
                             
                 <input name="userpassword" id="sender-email" type="text"  placeholder="Email" class="form-control email" ng-model="email" required style="color:#d1eed8 !important;">
                               </div>
              </div>
    
                            <!--<div>
                                <input type="checkbox" ng-model="remember" ng-init="remember = true">
                                Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                               
                            </div>-->
                            <button class="btn btn-default btn-block h50" type="submit" ng-click="forgetPassword()">Submit <img class="loginarrow" src="images/icons/arrow_right.png"></button>

                         

                            <br>
              
                        </form>
                    </div>
                </div>
                



            </div>
        </div>
     

    </div>
   
</div>
</div>





