
<style>
.modal-content, .modal-body{background-color:#ffffff;}
.hpanel.hblue .panel-body {
    border-top: 2px solid #97a3c7;
}
</style>
<div class="modal-dialog modal-lg">

<div class="modal-header">
			 <h4 class="modal-title">Invite people to collaborate
				<span class="pull-right"><a ng-click="closemodal()"> 
					<i class="pe-7s-close fa-2x"></i></a> 
				</span>
			 </h4>
	 </div>

	 <div class="modal-body">
<div class="row">
	 


<div class="col-md-12" >
        <div class="hpanel hblue" style="background-color:#f7f7f7">
            <div class="panel-heading">Read only access</div>
            <div class="panel-body" style="background-color:#f7f7f7">
                 <div ng-repeat="collabusers in collabdata | filter: { privilege_status : '1' }:true">
    		<label class="checkbox-inline"><input type="checkbox" ng-model="mycollab" ng-true-value="'{{2}}'" ng-false-value="'{{1}}'" ng-change="editaccess(collabusers)"> {{collabusers.first_name}}</label>
		</div>
                 <br>
            </div>
          
        </div>
    </div>
	
	<div class="col-md-12" >
        <div class="hpanel hblue" style="background-color:#f7f7f7">
            <div class="panel-heading">Edit Access</div>
            <div class="panel-body" style="background-color:#f7f7f7">
                 <div ng-repeat="country in collabdata | filter: { privilege_status : '2' }:true">
    		<label class="checkbox-inline"><input type="checkbox" checked ng-model="myCountry" ng-true-value="'{1}'" ng-false-value="'2'" ng-change="readaccess(country)"> {{country.first_name}}</label>
		</div>
                 <br>
            </div>
          
        </div>
    </div>

	




 


</div>

</div>