<div class="db-pricingtable-widget">
  <i class="fa fa-close" ng-click="deletetable()"></i>
  <table db-resizable class="table" id="thistable">

    <thead>
      <th>
       Task Description
      </th>
      <th>
       Quantity
      </th>
      <th>
       Price
      </th>
       <th>
       Unit
      </th>
      <th>
      Total
      </th>
     
      </thead>
      <tbody id="tbody"  >
        <tr ng-repeat="detail in newprice">
          <td ng-bind="detail.categoryname"></td>
          <td  id="price" ng-bind="detail.mandays"></td>
           <td ng-bind="detail.totalcost"></td>
           <td></td>
           <td ng-bind="detail.totalrate"></td>
         
            
        </tr>
         <tr  ng-repeat="info in newtax">
          <td ng-bind="info.taxname"></td>
           <td></td>
            <td></td>
             <td></td>
                    <td ng-bind="info.percentage"></td>
                   
         </tr> 
         <tr ng-repeat="data in newdis" db-draggable data-dtask="true" >
          <td ng-bind="data.name"></td>
          <td></td>
            <td></td>
             <td></td>
           <td ng-bind="data.value"></td>
          
           
         
        </tr>

        <tr>
          <td >

Total Cost of the Project
</td>
           <td></td>
           <td></td>
           <td></td>
           <td ng-bind="totalvalue"></td>
           
         
        </tr>
      </tbody>

  </table>
 