
<div class="db-square-widget" db-resizable ng-style="{'background-color':'{{squuarecolor}}'}" ng-class="{'show-config': toggleShowHide}">
	<i class="fa fa-close" ng-click="removesquare()"></i>
	<i class="icon-style pull-right" ng-click="applycolor()"></i>
  <p contenteditable="true" class="editable-area">
  </p>
	
   
   <!--<i class="fa fa-arrow-up" aria-hidden="true" ng-click="removerow()"></i>-->


<div class="config-area" style="width:320px; right: -340px;">
 <div class="row">
        <div class="col-md-12">
                <div class="hpanel hbgblue" style="margin-bottom: 0px;">
                    <i class="fa fa-close " ng-click="removepopup()"></i>
                    <div class="panel-body">
                        
                        <div class="row">
                            
                             <div class="col-md-12">
                                 <color-picker ng-model="mysqColor" options="options"></color-picker><br>
                                  <a class="btn btn-default pull-right" ng-click="fillsquare()">Ok</a>
                            </div>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
 </div>
  </div>
  

  

</div>

