<!--<div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation 
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<div id="wrapper">-->

               <div class="modal-dialog modal-lg"  ng-controller="customerreviewCtrl">
               

                
                                <div class="color-line"></div>
                                <div class="modal-header">
                                    <h4 class="modal-title">

                                        Reject this proposal
                                        <span class="pull-right"><a ng-click="closemodal()"> <i class="pe-7s-close fa-2x"></i></a> </span></h4>
                                  
                                </div>
                                <div class="modal-body" >
                                  
                                  <div class="row">
                                  	
                                  <div class="col-md-12"  >
                 <label class="control-label">Please input the reason for your rejection</label><br>
              <textarea class="form-control" rows="5"    ng-model="reasons" ></textarea><br><br>
            </div>
            <div class="col-md-12">
             <button type="button" class="btn btn-success" ng-click="preject()">Reject</button>
       </div>
            </div>
			
                                   
                                
                                    
                                
                                  
                                  
                                </div>
                                
                           

</div>