<!--<div class="color-line"></div>

<div class="back-link">
</div>-->

<style>
    body{
   background-color: #fff;
   font-size: 14px;
   color: #8c8c8c ;
   font-weight: 400;
    background: url(images/login_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
</style>

<div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">

       <div class="col-md-4 col-md-offset-4 text-center m-b-md">
                <img class="img-responsive" src="images/docubasic_white_logo.png" />
            </div>
        </div>
         <div class="col-md-12">
		      
            <div class="col-sm-8 col-md-offset-2 no-padding">
			<uib-alert ng-repeat="alert in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert}}</uib-alert>
                <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
                <uib-alert ng-repeat="alert in loginalerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
            
		 
                <h3 class="login-h1 white">Admin Login</h3>
            </div>
         </div>
        <div class="col-md-12">
            
            <div class="hpanel">

                <div class="col-sm-8 col-md-offset-2 no-padding">
                    <div class="doccolor">
                        <form id="loginForm">
                            <h3 class="login-h1"></h3>
							<br><br>
                            <div class="form-group">
                                <div class="inner-addon left-addon">
                                    <i class="glyphicon"><img src="images/icons/user.png"></i>
                                    <input type="text" placeholder="example@gmail.com" title="Please enter your username" required="" value="" name="username" id="username" class="form-control" ng-model="email" style="color:#d1eed8 !important;">
                               </div>
                            </div>
                            <div class="form-group">
                                <div class="inner-addon left-addon">
                                    <i class="glyphicon"><img src="images/icons/password.png"></i>
                                   <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control" ng-model="password" style="color:#d1eed8 !important;" maxlength="20" minlength="8">
                               </div>
                            </div>
                            <!--<div>
                                <input type="checkbox" ng-model="remember" ng-init="remember = true">
                                Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                               
                            </div>-->
                            <button class="btn btn-default btn-block h50" ng-click="loginSubmit()">Login <img class="loginarrow" src="images/icons/arrow_right.png"></button><br>
                             <!--<p class="text-center pull-left">
                                    <a  ng-href="#/forgot-password" class="white"> Forgot password? </a>
                            </p>-->
                        </form>
                    </div>
                </div>
                <!--<div class="col-sm-5 no-padding">
                    <div class=" whitecolor">
                        <form id="loginForm">
                            <h3 class="login-h1">Sign in with your social media accounts</h3>
                            
                            <div class="inner-content">
                                <div class="icons-section">
                                    <!-- <div class="twitter"><a ng-click="signup()"><span> </span> <lable> Register </lable>
                                        <div class="clear"></div></a>
                                    </div> -->
                                    <!--<div class="fb"><a href="#"><span> </span> <lable>Connect with Facebook</lable>
                                            <div class="clear"></div></a>
                                    </div>-->
                                    
                                   <!-- <div class="linkedin"  linked-in><a><span> </span> <lable>Connect with Linkedin</lable>
                                        <div class="clear"></div></a>
                                    </div>
                                
                                    <div class="google"><a ng-click="login()"><span> </span> <lable>Connect with Google+</lable>
                                        <div class="clear"></div></a>
                                    </div>-->
                                    
                                    
                                    <div class="clear"></div>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>-->



            </div>
        </div>
         <!--<div class="col-md-12">
                <h3 class="login-h1 white" style="font-size:18px;font-family:.AppleSystemUIFont;">Don’t have an account? <a ng-href="#/sign-upnew" style="color:#63C685">Sign Up Now</a></h3>
         </div>-->

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
        
        



        </div>
    </div>
</div>
</div>
