<div class="modal-dialog modal-lg" style="margin:0px; width:100% !important;" ng-controller="billingctrl">
<div class="color-line"></div>
                                <div class="panel-body">
                <div class="pull-left"><h4 class="modal-title">Billing History</h4></div>
            <div class="pull-right">
              <a  ng-click="closehistorysidebar()" > <i class="pe-7s-close fa-2x"></i></a>
            </div>
          </div>
<div  ng-controller="billingctrl">


    <div class="modal-body">
<div class="row">
  
  
  
  <div class="col-md-4">
                
<div class="dropdown" > <label class="control-label">Date Range</label><br>
                    <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown"  ng-model="tsktype" ng-options="taskp.id as taskp.type for taskp in dfilter " >
            <option value="">--Select--</option></select>
          </div>

    

  </div>

  


  
  
     <div class="col-md-8" ng-show="tsktype == '1'"> 
      
                                     <div class="col-md-6">
                                        <label class="control-label">From Date</label>
                                        <div class="form-group required" >
                                           <input type="date" class="form-control" id="exampleInput-txt" name="input" ng-model="startDate"
                                            placeholder="yyyy-MM-dd"  required />

                                                                        </div>
                                   
                                                                            </div>

                                        <div class="col-md-6">
                                        <label class="control-label">To Date</label>
                                        <div class="form-group required" >
                                           <input type="date" class="form-control" id="exampleInput-txt" name="input" ng-model="endDate"
                                            placeholder="yyyy-MM-dd"  required />

                                                                        </div>
                                
                                   </div>
                                      
                                     
</div>
                               


  </div>
    <label class="control-label"><br><br></label>
                                      <button class="btn btn-success" ng-click="billinghstry()">Search</button>


  <div  >

    <br><br>
                                    <h4>History</h4>
                                  <table datatable="ng" class="table table-striped table-bordered table-hover" >
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                         <th>Package Name</th>
                                        <th>Amount</th>
                                         <th>Start Date</th>
                                         <th>End Date</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="detail in billinghistory" >
                                        <td >{{detail.first_name}}</td>
                                        <td >{{detail.package_name}}</td>
                                        <td>{{detail.amount}}</td>
                                         <td>{{detail.start_date}}</td>
                                         <td>{{detail.end_date}}</td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                                </div>
</div>

</div>
</div>