
<div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<style>.m-t-xl{margin-top:15px;}</style>
<div id="right-sidebar" ng-include="'views/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
<div id="wrapper">
  <uib-alert ng-repeat="alert in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert}}</uib-alert>
                <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
                <uib-alert ng-repeat="alert in loginalerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
<div class="content animate-panel">
<div class="row">
  

<div class="row">
  <div class="col-lg-3" ng-show="isAdmin">
                <div class="hpanel stats"  ng-repeat = "info in billingdata" >
                    <div class="panel-body h-200">
              <div class="row">
            
            <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
              <img src="images/icons/dashboard/icon1.png" >
                        </div>
            <div class="col-md-9" style="padding-left:0px;">
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Billing</h4></div>
                       </div>
            </div>
                        
            <div class="m-t-xl">
            <div class="row">
                <div class="col-xs-12">
                  <h4 ng-if="info.monthly_charge == '0'" class="m-xs">Free Plan</h4>
                        <h1 ng-if="info.monthly_charge !== '0'" class="m-xs">${{info.amount}}</h1>
            <small >Current billing period <br>{{info.start}} to {{info.end}}</small>
            </div>
                    </div>
          </div>
                    </div>
                    <div class="panel-footer">
                      <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><img src="images/icons/dashboard/more.png" ></div>
              <a ng-click="openbilling()"><div class="col-xs-8 no-padding"><h5> &nbsp; View Details </h5></div></a>
                        </div>
                    </div>
                </div>
            </div>



         <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
            <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon2.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Proposals</h4></div>
               </div>
            </div>
            
          
                        <div class="m-t-xl">
              <div class="row">
                <div class="col-xs-5" style="border-right:1px solid #eeeeee;">
                  <div class="m-xs  no-margins">Open</div>
                  <h1 class="m-xs">{{praposals.OpenCount}}</h1>
                </div>
                <div class="col-xs-7">
                  <div class="m-xs no-margins">Under Review  <span class="pull-right">{{praposals.underreviewCount}}</span></div>
                  <div class="m-xs no-margins">Submitted <span class="pull-right">{{praposals.submittedCount}}</span></div>
                  <div class="m-xs no-margins">Closed  <span class="pull-right">{{praposals.closedCount}}</span></div>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
            <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><i class="pe-7s-plus fa-2x pull-left"></i></div>
              <div class="col-xs-8 no-padding"><a ng-click="openproposal()"><h5>&nbsp; Create New </h5></a></div>
                        </div>
            
                    </div>
                </div>
            </div>



        <div class="col-lg-3" ng-show="isAdmin">
                <div class="hpanel stats" >
                    <div class="panel-body h-200">
              <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon3.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Users</h4></div>
              </div>
            </div>
                        
                        <div class="m-t-xl">
              <div class="row">
                <div class="col-xs-6" style="border-right:1px solid #eeeeee;">
                  <div class="m-xs no-margins">Admin</div>
                  <h1 class="m-xs">{{admincount}}</h1>
                </div>
                <div class="col-xs-6">
                  <div class="m-xs no-margins">End Users</div>
                  <h1 class="m-xs">{{usercount}}</h1>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
              <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><i class="pe-7s-plus fa-2x pull-left"></i></div>
              <div class="col-xs-8 no-padding"><a ng-click="createuser()"><h5>&nbsp; Create New </h5></a></div>
                        </div>
            
                    </div>
                </div>
            </div>

       
       

        <div class="col-lg-3" ng-show="isAdmin">
                <div class="hpanel stats" >
                    <div class="panel-body h-200" ng-repeat = "info in billingdata">
             <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon4.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Subscription</h4></div>
               </div>
            </div>
                       
                        <div class="m-t-xl">
              <div class="row">
                <div class="col-xs-6" style="border-right:1px solid #eeeeee;">
                  <div class="m-xs no-margins">{{info.name}}</div>
                  <h1 class="m-xs">3.0</h1>
                </div>
                <div class="col-xs-6">
                  <i class="fa fa-star" style="color:#ffd037"></i>
                  <i class="fa fa-star" style="color:#ffd037"></i>
                  <i class="fa fa-star" style="color:#ffd037"></i>
                  <i class="fa fa-star" style="color:#E5E5E5"></i>
                  <i class="fa fa-star" style="color:#E5E5E5"></i>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
               <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><i class="pe-7s-up-arrow fa-2x pull-left"></i></div>
              <div class="col-xs-8 no-padding"><a ng-click="openbilling()"><h5>&nbsp; Upgrade </h5></a></div>
                        </div>
            
                    </div>
                </div>
            </div>

          
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
             <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon5.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Proposals Won</h4></div>
               </div>
            </div>
                        
                        <div class="m-t-xl">
              <div class="row">
                <div class="col-xs-5" style="border-right:1px solid #eeeeee;">
                  <div class="m-xs  no-margins">This month</div>
                  <h1 class="m-xs">{{praposalswon.CurrentMonth}}</h1>
                </div>
                <div class="col-xs-7">
                  <div class="m-xs no-margins">Last Month  <span class="pull-right">{{praposalswon.LastMonth}}</span></div>
                  <div class="m-xs no-margins">This Quarter <span class="pull-right">{{praposalswon.Thisquarterwonproposal}}</span></div>
                  <div class="m-xs no-margins">Last Quarter  <span class="pull-right">{{praposalswon.Lastquarterwonproposal}}</span></div>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
          
            <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><img src="images/icons/dashboard/more.png" ></div>
              <div class="col-xs-8 no-padding"><h5>&nbsp; View Details </h5></div>
                        </div>
            
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
             <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon6.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Proposals Lost</h4></div>
               </div>
            </div>
                       <div class="m-t-xl">
              <div class="row">
                <div class="col-xs-5" style="border-right:1px solid #eeeeee;">
                  <div class="m-xs no-margins">This month</div>
                  <h1 class="m-xs">{{praposalsloss.CurrentMonth}}</h1>
                </div>
                <div class="col-xs-7">
                  <div class="m-xs no-margins">Last Month  <span class="pull-right">{{praposalsloss.LastMonth}}</span></div>
                  <div class="m-xs no-margins">This Quarter <span class="pull-right">{{praposalsloss.Thisquarterlossproposal}}</span></div>
                  <div class="m-xs no-margins">Last Quarter  <span class="pull-right">{{praposalsloss.Lastquarterlossproposal}}</span></div>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
          
              <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><img src="images/icons/dashboard/more.png" ></div>
              <div class="col-xs-8 no-padding"><h5>&nbsp; View Details </h5></a></div>
                        </div>
           
                    </div>
                </div>
            </div>
      <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
             <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon7.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
              
                <div class="m-xs font-bold no-margins"><h4 class="fs16"> Cost/Profit Analysis</h4></div>
               </div>
            </div>
            
                        <div class="m-t-xl">
              <div class="row">
                <div class="col-xs-7" >
                     <h4>{{cstprofitdata.company_total}}</h4>
                   <small class="stat-label">Proposal Value</small>
                   <h4>{{cstprofitdata.customer_cost}}</h4>
                   <small class="stat-label">Cost</small>
                                    
                </div>
                <div class="col-xs-5">
                  <h4 class="pull-right">{{cstprofitdata.costprofit}}%<i ng-if="cstprofitdata.costprofit > 0" class="fa fa-sort-up" style="color:#1da54b"></i>
                  <i ng-if="cstprofitdata.costprofit < 0" class="fa fa-sort-down" style="color:#1da54b"></i> </h4>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
          
              <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><img src="images/icons/dashboard/more.png" ></div>
              <div class="col-xs-8 no-padding"><h5>&nbsp; View Details </h5></a></div>
                        </div>
           
                    </div>
                </div>
            </div>


      <div class="col-lg-3">
                <div class="hpanel stats"  ng-repeat="cst in vinhousedata">
                    <div class="panel-body h-200">
             <div class="row">
              <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                <img src="images/icons/dashboard/icon8.png">
              </div>
              <div class="col-md-9" style="padding-left:0px;">
                  <div class="m-xs font-bold no-margins"><h4 class="fs15"> Inhouse vs Vendor Costs</h4></div>
                
               </div>
            </div>
                       
                        <div class="m-t-xl">
              <div class="row">
                 <div class="col-xs-12" >
                    <h4>${{cst.company_total}} </h4>
                   <small class="stat-label">Proposal Value</small>
                 </div>

                <div class="col-xs-7" >
                     
                   <h4>${{cst.customer_cost}} </h4>
                   <small class="stat-label">Cost</small>
                                    
                </div>
                <div class="col-xs-5">
               
                  <h4 class="pull-right">{{cst.costprofit}}%<i class="fa fa-sort-up" ng-if="cst.costprofit>0" style="color:#1da54b" ></i> </h4>
                </div>
              </div>
                         </div>
                    </div>
                    <div class="panel-footer">
          
           <div class="row">
                  <div class="col-xs-2" style="padding-left:15px; padding-right:0px" ><img src="images/icons/dashboard/more.png" ></div>
              <div class="col-xs-8 no-padding"><h5>&nbsp; View Details </h5></div>
                        </div>
          
                    </div>
                </div>
            </div>
        </div>

        
            
<div class ="row">

    <div class="col-lg-6" >
        <div class="hpanel">
       <div class="panel-heading hbuilt"> <img src="images/icons/dashboard/todos.png"> &nbsp; Recent ToDo's</div>
            
            <div class="panel-body">
               <div class="table-responsive">
                <table cellspacing="1" cellpadding="1" class="table table-striped">
                    <thead>
                    <tr>
                        <td width="56%">Task List</td>
                        <td width="22%">Start Date</td>
                        <td width="22%">End Date</td>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat = "info in todos">
                       <div ng-if="!todos.length"  >There is No Task Available</div>
                        <td><a ng-href="#/todos">{{info.TaskName}}</a></td>
                        <td>{{info.start_date}}</td>
                        <td>{{info.end_date}}</td>
                    </tr>
                    
                                      
                    </tbody>
                </table>
</div>
            </div>
        </div>
    
      
  
        <div class="hpanel">
      <div class="panel-heading hbuilt"> <img src="images/icons/dashboard/notes.png"> &nbsp; Recent Notes</div>
          
            <div class="panel-body">
               <div class="table-responsive" >
                <table cellspacing="1" cellpadding="1" class="table table-striped">
                    <thead>
                    <tr>
                        <td width="78%">Subject</td>
                        <td width="22%" align="right">Created On</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat = "info in notes">
                      <div ng-if="!notes.length"  >There is No Notes Available</div>
                        <td><a ng-href="#/notes">{{info.Name}}<a></td>
                        <td align="right">{{info.Created_at | date:'medium'}}</td>
                    </tr>
                  
                                      
                    </tbody>
                </table>
</div>
            </div>
        </div>
    
  
   </div>

   <div class="col-lg-6" style="">
        <div class="hpanel">
            <div class="panel-heading hbuilt"> <img src="images/icons/dashboard/activity.png"> &nbsp; Recent Activity</div>
            <div class="panel-body retest">
             <div ng-hide="emptyactivity" class="timeline-centered"  >
  
    <article   class="timeline-entry" ng-repeat="record in resentactivitydata" >

        
        <div class="timeline-entry-inner" >
    <time class="timeline-time" datetime="2014-01-10T03:45">
      <span>{{record.created_time}}</span> 
      <span><a>{{record.display_date}}</a> </span>
      </time>
            
            <div class="timeline-icon bg-success">
                
            </div>
            
            <div class="timeline-label">
                
                <p>{{record.activity}}</p>
            </div>
        </div>
        
    </article>
    
</div>
            <div ng-show="emptyactivity" class="text-center"><span >There is no activity available.</span></div>
          
          
          
          
            </div>
        </div>
        
     </div>
     </div>
     

    

      


    
    
    </div>









    
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <div id="right-sidebar" ng-include="'views/usernew.html'" class="sidebar-open" ng-if="rightSidebar"></div>
 <div id="right-sidebar" ng-include="'views/billing.html'" class="sidebar-open" ng-if="billingSidebar"></div>
 <div id="right-sidebar" ng-include="'views/createproposal.html'" class="sidebar-open" ng-if="proposalrightSidebar"></div>

  
  </div>
  