<div class="modal-dialog modal-md"> 
<div class="modal-content"> 
		
	<div class="modal-header" style="padding:10px 10px">
        <button type="button" class="close" ng-click="closemodal()">&times;</button>
        <h4 >Add Url For Video</h4>
      </div>
	 <div class="modal-body">
	
<div class="row">
        <div class="col-md-12">
                
    	     <label>URL :</label> 
         </div>
          <div class="col-md-6">
    		  
    			<input type="url" class="form-control" placeholder="Enter video url here" ng-model="videoUrl"/>
    		
      </div>
      <div class="col-md-6">
   	         
    		<button type="button" class="btn btn-success" ng-click="submitUrl()">OK</button>
    	   
       </div>
   
    </div>
     
  </div>
      
 </div>
</div>
</div>


 