<div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<style type="text/css">.m-t-xl{margin-top:15px;}
.newbtn{border-radius: 0; padding:54.4% 0px;}</style>
<div id="wrapper">

<div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
            	
            		<div class="row" >
            	 <div class="col-md-4"> 


                                        <label class="control-label">From Date</label>
                                        <div class="form-group required" >
                                           <input type="date" class="form-control" id="exampleInput-txt" name="input" ng-model="startDate"
                                            placeholder="yyyy-MM-dd"  required />

                                                                        </div>
                                    </div>


                                       <div class="col-md-4">
                                        <label class="control-label">To Date</label>
                                        <div class="form-group required" >
                                           <input type="date" class="form-control" id="exampleInput-txt" name="input" ng-model="endDate"
                                            placeholder="yyyy-MM-dd"  required />

                                                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <label class="control-label"></label>
                                     	<button class="btn btn-success" ng-click="billinghstry()">Search</button>
                                     </div>

                                </div>


                                                                 <div  >
                                    <h4>History</h4>
                                  <table datatable="ng" class="table table-striped table-bordered table-hover" >
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                         <th>Package Name</th>
                                        <th>Amount</th>
                                         <th>Start Date</th>
                                         <th>End Date</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="detail in billinghistory" >
                                        <td >{{detail.first_name}}</td>
                                        <td >{{detail.package_name}}</td>
                                        <td>{{detail.amount}}</td>
                                         <td>{{detail.start_date}}</td>
                                         <td>{{detail.end_date}}</td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>
                                  
                                </div>


                            </div>
                        </div>
                    </div>