<div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<div id="wrapper">
<div class="row">
	<div class="col-lg-3 ng-scope"  style="">
		<div class="hpanel stats">
			<div class="panel-body h-200">
				<div class="stats-title pull-left">
					<h4>Billing Detail</h4>
				</div>
				<div class="stats-icon pull-right">
					<i class="pe-7s-battery fa-4x"></i>
				</div>
				<div class="clearfix"></div>
				<div class="m-t-xs" ng-repeat = "info in billingdata">
					<div class="row">
						<div class="col-xs-6" style="">
							<small class="stat-label">Current Plan</small>
							<h4>
							{{info.name}}
							<i class="fa fa-level-up text-success"></i>
							</h4>
						</div>
						<div class="col-xs-6" style="">
							<small class="stat-label">Due Date</small>
							<h4>
							{{info.due_date}}
							<i class="fa fa-level-up text-success"></i>
							</h4>
						</div>
						<div class="col-xs-6" style="">
							<small class="stat-label">Amount</small>
							<h4>
							{{info.amount}}
							<i class="fa fa-level-up text-success"></i>
							</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6" style="">
							<small class="stat-label">Start</small>
							<h4>
							{{info.start}}
							<i class="fa fa-level-up text-success"></i>
							</h4>
						</div>
						<div class="col-xs-6" style="">
							<small class="stat-label">End</small>
							<h4>
							{{info.end}}
							<i class="fa fa-level-up text-success"></i>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ng-scope" animate-panel="" ui-view="">
	<div class="row ng-scope">
		<div class="col-lg-12" style="">
			<div class="col-sm-3" style="" ng-repeat ="info in packagedata.packages">
				<div class="hpanel plan-box hgreen active" >
					<div class="panel-heading hbuilt text-center">
						<h4 class="font-bold">{{info.name}}</h4>
					</div>
					<div class="panel-body">
						<p class="text-muted"> </p>
						<!--<table class="table">
							<thead>
								<tr>
									<td>Charges</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<i class="fa fa-check-square-o"></i>
										{{info.monthly_charge}}
									</td>
								</tr>
								<tr>
									<td>
									</tr>
									
									
									<tr>
										<td>
											<i class="fa fa-square-o"></i>
											Support
										</td>
									</tr>
								</tbody>-->
							</table>
							<p class="text-muted">{{info.description}} </p>
							<h3 class="font-bold"> ${{info.monthly_charge}}/month </h3>
							<a class="btn btn-success btn-sm m-t-xs" href="#">Select plan</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>