<!--<div id="header" ng-include="'views/header.html'"></div>

<!-- Navigation 
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<div id="wrapper">-->

   <div class="modal-dialog modal-lg">

<div class="normalheader transition animated fadeIn">
        <div class="hpanel">
          <div class="panel-body">
            <div class="pull-right">
              <a  ng-click="closemodal()" > <i class="pe-7s-close fa-2x"></i></a>
            </div>
          </div>
            <div class="panel-body">
               

                <div class="pull-right m-t-lg" id="hbreadcrumb">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ng-href="#/main">Dashboard</a></li>
                       
                        <li class="active">
                            <span>Client</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Client
                </h2>
                <small></small>
            </div>
        </div>
    </div>

<div class="setting">
   <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
   <uib-alert ng-repeat="error in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{error}}</uib-alert>
 <div class="content" animate-panel effect="zoomIn">

 	<div class="row">
<div class="col-lg-12" >
<div class="hpanel">
	 <div class="panel-body">
 
 	<button class="btn btn-primary pull-right"  ng-model="collapsed" ng-click="clientsection()" >Add New</button><br>
 
 		<div class="takadd" ng-show="collapsed">
      <h3 class="font-light m-b-xs" ng-hide="update">
                    Add New Client
                </h3><br>
                <h3 class="font-light m-b-xs" ng-show="update">
                    Update Client
                </h3><br>
 		<form name="clientform">
 					<div class="row">
 						<div class="col-md-4">
              <div class="form-group required" ng-class="{'has-error': clientform.fname.$touched && clientform.fname.$error.required}">
               <label class="control-label">First Name</label><br>
 							 <input name="fname" type="text"  only-words ng-maxlength="20" ng-minlength="3" class="form-control" placeholder="First name" id="user-pass" ng-model="fname" required>
               <span ng-show="clientform.fname.$error.minlength" class="denger">First name is too short.</span>
            <span ng-show="clientform.fname.$error.maxlength" class="has-error">First name is too long.</span>
              </div>
 							</div>
 							<div class="col-md-4">
                <div class="form-group required" ng-class="{'has-error': clientform.lname.$touched && clientform.lname.$error.required}">
                 <label class="control-label">Last Name</label><br>
 							 <input name="lname" type="text" only-words ng-maxlength="20" ng-minlength="3"  class="form-control" placeholder="Last name" id="user-pass" ng-model="lname" required>
                <span ng-show="clientform.lname.$error.minlength" class="denger">Last name is too short.</span>
            <span ng-show="clientform.lname.$error.maxlength" class="has-error">Last name is too long.</span>
          </div>
 							</div>
							</div>
							<div class="row">
 							
 							<div class="col-md-4">
                 <div class="form-group required" ng-class="{'has-error': clientform.email.$touched && clientform.email.$error.required}">
                 <label class="control-label">Email</label><br>
 							 <input name="email" type="text" class="form-control" placeholder="Email" id="user-pass" ng-model="email" required  ng-pattern = "/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                <span ng-show="clientform.email.$touched && clientform.email.$invalid" class="denger">Invalid Email</span>
              </div>
 							</div>
 							<div class="col-md-4">
                <div class="form-group required" ng-class="{'has-error': clientform.cpname.$touched && clientform.cpname.$error.required}">
                 <label class="control-label">Company Name</label><br>
 							 <input name="cpname" type="text" ng-maxlength="20" ng-minlength="3" class="form-control" placeholder="Company name" id="user-pass" ng-model="cname" required>
               <span ng-show="clientform.cpname.$error.minlength" class="denger">Company name is too short.</span>
            <span ng-show="clientform.cpname.$error.maxlength" class="has-error">Company name is too long.</span>
              </div>
 							</div>
							</div>
							<div class="row">
 							<div class="col-md-4">
                 <div class="form-group required" ng-class="{'has-error': clientform.dname.$touched && clientform.dname.$error.required}">
                 <label class="control-label">Display Name</label><br>
 							 <input name="dname" type="text" class="form-control" placeholder="Display name" id="user-pass" ng-model="displayname" required>
                <span ng-show="clientform.dname.$error.minlength" class="denger">Display name is too short.</span>
            <span ng-show="clientform.dname.$error.maxlength" class="has-error">Display name is too long.</span>
              </div>
 							</div>
							<div class="col-md-4">
                 <label class="control-label">Client Id</label><br>
 							<input name="Task category" type="text" class="form-control" placeholder="Client id" id="user-pass" ng-model="clientid" required>
 							</div>
 						</div> 


 						<div class="row">
 							<div class="col-md-4">
                 <div class="form-group required" ng-class="{'has-error': clientform.pnumber.$touched && clientform.pnumber.$error.required}">
                 <label class="control-label">Phone Number </label><br>
 							  <input name="pnumber" type="text" class="form-control" placeholder="Phone number" id="user-pass" ng-model="phone" ng-maxlength="20" ng-minlength="8" ng-pattern="ph_numbr"  required>
                 <span ng-show="clientform.pnumber.$touched && clientform.pnumber.$invalid" class="denger">Phone number is invalid.</span>
                <span ng-show="clientform.pnumber.$error.minlength" class="denger">Phone number is too short.</span>
            <span ng-show="clientform.pnumber.$error.maxlength" class="has-error">Phone number is too long.</span>
              </div>
 							</div>
 							<div class="col-md-4">
                <div class="form-group required" ng-class="{'has-error': clientform.mnumber.$touched && clientform.mnumber.$error.required}">
                <label class="control-label">Mobile Number</label><br>
 						 <input name="mnumber" type="text" ng-pattern="ph_numbr" class="form-control" placeholder="Mobile number" id="user-pass" ng-model="mobile"  ng-maxlength="20" ng-minlength="8" required>
             <span ng-show="clientform.mnumber.$touched && clientform.mnumber.$invalid" class="denger">Mobile number is invalid.</span>
             <span ng-show="clientform.mnumber.$error.minlength" class="denger">Mobile number is too short.</span>
            <span ng-show="clientform.mnumber.$error.maxlength" class="has-error">Mobile number is too long.</span>
            </div>
 							</div>
                 </div>

						
						<div class="row">
							<div class="col-md-4">
                <div class="form-group required" ng-class="{'has-error': clientform.site.$touched && clientform.site.$error.required}">
                 <label class="control-label">Website Url</label><br>
							 <input name="site" type="url" class="form-control" placeholder="Website url" id="user-pass" ng-model="url" required>
               <span class="error" ng-show="clientform.site.$error.url">
      Not valid url!</span>
              </div>
						</div>
						<div class="col-md-4">
              <label class="control-label">Street Address</label><br>
						   <input name="Task category" type="text" class="form-control" placeholder="Street address" id="user-pass" ng-model="addressdetail" required>
								</div>
					</div>
          
		  <div class="row">
              <div class="col-md-4"> <label class="control-label">Country</label><br>
                <div class="dropdown">
                    <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown" ng-options="value.countryid as value.countryname for value in allProducts" ng-model="country" >
      <span class="caret"></span>Country:{{orgdata[0].country_id}}</select>
                      
                 </div>
                </div>
            <div class ="col-md-4"><label class="control-label">State </label><br>
               <div class="dropdown">
                <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown" ng-options="value.stateid as value.statename for value in allstates | filter: { countryid:country }" ng-model="state" ng-init="state = allstates[0]">
        <span class="caret"></span>Select</select>
                  </button>
                </div>
              </div>
             
        </div><br>
         
 				<div class ="row">
				 <div class = "col-md-4"> <label class="control-label">City </label><br>
                <input name="Task category" type="text" only-words class="form-control" placeholder="City" id="user-pass" ng-model="city" required>
              </div>
          <div class ="col-md-4">
            <div class="form-group required" ng-class="{'has-error': clientform.pcode.$touched && clientform.pcode.$error.required}">
            <label class="control-label">Postal Code </label><br>
               <input name="pcode" type="text" class="form-control" placeholder="Postal code" id="user-pass" ng-model="pcode" required ng-minlength="4">
               <span ng-show="clientform.pcode.$error.minlength" class="denger">Postal Code is too short.</span>
             </div>
            </div>
			</div>
         
 				<div class ="row">
            <div class ="col-md-8">
               <label class="control-label">Detailed Summary </label><br>
              <textarea class="form-control" rows="5" id="comment" placeholder="Detailed Summary" ng-model="summary" ></textarea>
            </div>
        </div><br>
      </form>
		<div class ="row">
            <div class ="col-md-8">
        <button class="btn btn-primary" ng-model="collapsed" ng-click="submitclient()" ng-hide="update" >Save</button>
         <button class="btn btn-primary" ng-model="collapsed" ng-click="updateclientdata()" ng-show="update" >Update</button>
         <button class="btn btn-primary" ng-click="closeclient()">Cancel</button>
		 </div>
		 </div>
    </div>
 		</div>
    
		<br><br>
    <div class="panel-body pn" >
          <table datatable="ng" class="table table-striped table-bordered table-hover" >
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
           <th>Mobile Number</th>
          <th>Created by</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="detail in clients" >
          <td >{{detail.firstname}}</td>
          <td>{{detail.lastname}}</td>
           <td >{{detail.mobile}}</td>
           <td>{{detail.created_users_email}}<br>
         {{detail.created_time}}</td>
          <td><a href="" title="Update" ng-click="updateclient(detail)" class="btn"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="" title="Delete" ng-click="delteclient(detail)" class="btn"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
 	
	</div>
 </div>
</div> 
	
	</div>
 </div>