<div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<div id="wrapper">

<container-directive></container-directive>

<div id="container" >
   <div class="pull-right m-t-lg" id="hbreadcrumb">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ng-href="#/main"><i class="icon-page-14"></i>Dashboard</a></li>
                       
                        <li class="active">
                          <a ng-href="#/styles">Styles</a>
                        </li>
                         <li class="active">
                            <span>New Style</span>
                        </li>
                    </ol>
                </div>

                <div>
  {{stylename}}

  
  <uib-alert ng-repeat="alert in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert}}</uib-alert>
    <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
  </div><br><br><br>
    <div class="form-group">
<div class="panel-body" >
                <div summernote ng-model="summernoteTextTwo" config="summernoteOpt"></div>
            </div>
   <button class="btn btn-primary"  ng-hide="update" ng-click="submitstyle()">Save</button>
    <button class="btn btn-primary" ng-show="update"  ng-click="updatestyle()">Update</button>
</div>
<!--<span  id="draggable"  >Text block
</span>
<div  id="d" data-ng-model="index.highlights">
</div
>
<svg id="dragThis">
  <rect  x="50" y="20" rx="20" ry="20" width="50" height="50"
  style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
</svg>

<svg data-drag="true" ng-model="list1" jqyoui-draggable="{animate:true}" >
  <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="white" />
</svg>
<div id="container" >
 <svg height="210" width="500"  id="dragThis">
  <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
</svg> 
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle"  id="dragThis">
  <polygon points="0,0 100,0 50,100"/>
</svg>

</div><br><br>
 <div class="panel-body no-padding" >
                <div summernote ng-model="summernoteTextTwo" config="summernoteOpt"></div>
            </div>
<h4>Drop Here</h4>
<div ng-model="ssss"  medium-editor bind-options="{'toolbar': {'buttons': ['bold', 'italic', 'underline']}}"  id="droppable" style="border:2px solid #696969; padding:20px; margin:10px; height:800px;" >
	
	</div>

{{summernoteTextTwo}}
 <ng-bind-html ng-bind-html="ssss"></ng-bind-html>
 <button class="btn btn-primary" ng-click="submitpage()">Save</button>
 <div ng-model="pdata"  medium-editor bind-options="{'toolbar': {'buttons': ['bold', 'italic', 'underline']}}"  id="droppable" style="border:2px solid #696969; padding:20px; margin:10px; height:800px;" >-->
	
	</div>

</div>

 






