<div class="db-square-widget" db-resizable ng-style="{'background-color':'{{squuarecolor}}'}" ng-class="{'show-config': toggleShowHide}">
	<i class="fa fa-close" ng-click="removesquare()"></i>
	<i class="icon-style pull-right" ng-click="applycolor()"></i>
	<div class="config-area">
   
   <!--<i class="fa fa-arrow-up" aria-hidden="true" ng-click="removerow()"></i>-->



   <div class="row">
        <div class="col-md-12">
                <div class="hpanel hbgblue">
                    <div class="panel-body">
                        
                        <div class="row">
                            
                             <div class="col-md-9">
                                 <color-picker ng-model="mysqColor" options="options"></color-picker><br>
                                  <i class="fa fa-info" ng-click="fillsquare()"></i>
                            </div>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
 </div>
</div>
  <p contenteditable="true" class="editable-area">
  </p>

  

</div>