<div class="db-table-widget" ng-class="{'show-config': toggleShowHide}">
  <table db-resizable class="table table-striped" id="thistable">
    <!--<thead>
      <th>
        Demo 1
      </th>
      <th>
        Demo 2
      </th>
      <th>
        Demo 3
      </th>
    </thead>-->
    <tbody>
      <tr class="prototype">
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
      </tr>
     
    </tbody>
  </table>
   <div class="config-area">
   
   <!--<i class="fa fa-arrow-up" aria-hidden="true" ng-click="removerow()"></i>-->



   <div class="row">
        <div class="col-md-12">
                <div class="hpanel hbgblue">
                    <div class="panel-body">
                        
                        <div class="row">
                            
                             <div class="col-md-9">
                                <i class="fa fa-close prl15 border-right" ng-click="removetable()"></i>
   <i class="fa fa-arrow-right prl15 border-right" aria-hidden="true" ng-click="addcolumn()"></i>
   <i class="fa fa-arrow-down prl15" aria-hidden="true" ng-click="addrow()"></i> 
                                
                            </div>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
 </div>
</div>