
   <div db-resizable class="table table-striped" >
<div class="row"  ng-repeat="detail in finaltask">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
               
              <h3 style="font-weight:600">{{detail.categoryname}}</h3>
            </div>
            <div class="panel-body" >
                <div ng-repeat="c1 in detail.task track by $index">
               <ul>
                 <li>{{c1}}</li>
               </ul>
               <div>
            </div>
            
        </div>
    </div>
</div>

</div>
