<div class="db-table-widget">
  <table db-resizable>
    <!--<thead>
      <th>
        Demo 1
      </th>
      <th>
        Demo 2
      </th>
      <th>
        Demo 3
      </th>
    </thead>-->
    <tbody>
      <tr>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
        <td>
          <p contenteditable="true"  class="editable-area">
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>