<div class="modal-dialog modal-lg">
<uib-alert ng-repeat="alert in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert}}</uib-alert>
    <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>

    <span class="pull-right">
<a  ng-click="closemodal()">
<i class="pe-7s-close fa-2x"></i>
</a>
</span>

<div class="col-md-9">
        <div class="hpanel email-compose">
            <div class="panel-heading hbuilt">
                <div class="p-xs h4">

                    New message

                </div>
            </div>
            <div class="panel-heading hbuilt">
                <div class="p-xs">

                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-1 control-label text-left">To:</label>

                            <div class="col-sm-11"><input type="text" ng-model="toemail" class="form-control input-sm" placeholder="example@email.com"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">Cc:</label>

                            <div class="col-sm-11"><input type="text" ng-model="cc" class="form-control input-sm"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-1 control-label text-left">Bcc:</label>

                            <div class="col-sm-11"><input type="text" ng-model="bcc" class="form-control input-sm" placeholder="example@email.com"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-1 control-label text-left">Sub:</label>

                            <div class="col-sm-11"><input type="text" ng-model="subject" class="form-control input-sm" placeholder="Enter Email subject"></div>
                        </div>
                    </form>


                </div>
            </div>
            <div class="panel-body no-padding" >
                <div summernote ng-model="summernoteTextTwo" config="summernoteOpt"></div>
            </div><br>


            
                <button class="btn btn-success" ng-click="send()">Send Email</button>
                <!--<div class="btn-group">
                    <button class="btn btn-default"><i class="fa fa-paperclip"></i> </button>
                    <button class="btn btn-default"><i class="fa fa-image"></i> </button>
                </div>-->

            
        </div>
    </div>
</div>