 <div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation -->


<aside id="menu" ng-include="'views/navigation.html'"></aside>
<div id="wrapper">
<div class="content animate-panel">
<div class="row"  >
   
  <div class="col-lg-12"  >
            <h3>Proposal Summary View   <div class="pull-right" id="hbreadcrumb">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ng-href="#/main"><i class="icon-page-14"></i>&nbsp; &nbsp; Dashboard</a></li>
                       
                        <li class="active">
                            <span>Proposal-Summary</span>
                        </li>
                    </ol>
                </div></h3>
            <br>
        
<button class="btn w-xs btn-priblue" ng-class="{ 'btn-success' :selectedTab == 'all'}" type="button"  ng-style="all" ng-click="allpraposal(); selectedTab = 'all'">All</button>
<button class="btn w-xs btn-priblue" ng-class="{ 'btn-success' :selectedTab == 'open'}" type="button" ng-click="open(); selectedTab = 'open'">Open</button>
<button class="btn w-xs btn-priblue" ng-class="{ 'btn-success' :selectedTab == 'under'}" type="button" ng-click="underreview();selectedTab = 'under'">Under Review</button>
<button class="btn w-xs btn-priblue" ng-class="{ 'btn-success' :selectedTab == 'closed'}"  type="button" ng-click="closed();selectedTab = 'closed'">Closed</button>
<button class="btn w-xs btn-priblue" ng-class="{ 'btn-success' :selectedTab == 'Reject'}"  type="button" ng-click="reject();selectedTab = 'Reject'">Reject</button>
<button class="btn w-xs btn-priblue" ng-class="{ 'btn-success' :selectedTab == 'Reopen'}"  type="button" ng-click="reopen();selectedTab = 'Reopen'">Reopen</button>
 <button class="btn btn-success pull-right" ng-click="createpraposal()" ><i class="pe-7s-plus "></i>&nbsp; New Proposal</button>
<br>
<br>
            </div>
             <div id="right-sidebar" ng-include="'views/createproposal.html'" class="sidebar-open" ng-show="proposalrightSidebar"></div>

        
  <div class="col-lg-12">
    <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
               
</div>
</div>
<br>

<div class="row">
     <div class="col-lg-6" ng-show="praposalall" ng-repeat="detail in praposaldata" >
        <div class="hpanel " >
                    <div class="panel-body"  >
                        <div class="row projects">
                        <div class="col-sm-12">
                            <h4 class="mtmb015">{{detail.name}}</h4>
                        
                               <div class="well" ng-repeat="c2 in detail.activity track by $index">
                                
                                <small>{{c2.proposal_activity}}</small><br>
                                <p>{{c2.created_at}}</p>
                                </div>
                                  
                        </div>
                         <div class="col-sm-8" style="border-right:1px dashed #7384b6;" >
                               <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Client</a></div>
                                        <small>{{detail.firstname}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Version</a></div>
                                        <small>{{detail.proposal_version_number}}</small>
                                    </div>

                                    <div class="col-sm-4 "  >
                                        <div class="project-label"><a>Deadline</a></div>
                                     
                                        <small ng-class="{ 'help-block' : detail.redflag=='expire' }">{{detail.delivery_date}}</small>
                                    </div>
                                     <div class="col-sm-12" >
                                        <h2 > ${{detail.cost}}</h2>
                                    </div>
                                     <div class="col-sm-12" >
                                     <br>

                                                                <style>
  .btn-circle:nth-child(1){background-color:#34495e; border-color:#34495e; margin-right: 5px;}
.btn-circle:nth-child(2){background-color:#9b59b6 ; border-color:#9b59b6 ; margin-right: 5px;}
.btn-circle:nth-child(3){background-color:#3498db; border-color:#3498db; margin-right: 5px;}
.btn-circle:nth-child(4){background-color:#62cb31; border-color:#62cb31; margin-right: 5px;}
.btn-circle:nth-child(5){background-color:#ffb606; border-color:#ffb606; margin-right: 5px;}
 .btn-circle:nth-child(6){background-color:#34495e; border-color:#34495e; margin-right: 5px;}
.btn-circle:nth-child(7){background-color:#9b59b6 ; border-color:#9b59b6 ; margin-right: 5px;}
.btn-circle:nth-child(8){background-color:#3498db; border-color:#3498db; margin-right: 5px;}
.btn-circle:nth-child(9){background-color:#62cb31; border-color:#62cb31; margin-right: 5px;}
.btn-circle:nth-child(10){background-color:#ffb606; border-color:#ffb606; margin-right: 5px;}
</style>
                                        <div class="project-people" >
                                        <button   class="btn btn-white btn-circle" style="width:2px !important; background-color:#ffffff !important; border-color:#ffffff !important;  visibility: hidden; margin-right: 0px !important;" type="button">&nbsp;</button>

                                       <button ng-repeat="c1 in detail.collaborator track by $index"   class="btn btn-primary btn-circle" type="button">{{c1}}</button>
                      
                                        </div><br><br>
                                </div>
                                    
                                </div>
                            </div>
                         <div class="col-sm-4" >
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="project-label">Status</div>
                                        <small ng-if="detail.proposal_status == 1">Open <br></small>
                                        <small ng-if="detail.proposal_status == 2">Sent <br></small>
                                        <small ng-if="detail.proposal_status == 3">Under Review <br></small>
                                        <small ng-if="detail.proposal_status == 4">Closed<br></small>
                                        <small ng-if="detail.proposal_status == 5">Reopen<br></small>
                                        
                                        <br><br>
                                    </div>
                                    <div class="col-sm-12" >
                                       <div class="project-value" style="border-top:1px dashed #7384b6;">
                                            <h1  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class="text-info">25%</h1>
                                            <h1  ng-if="detail.proposal_status == 2" class="text-info">50%</h1>
                                            <h1  ng-if="detail.proposal_status == 3" class="text-info">75%</h1>
                                            <h1  ng-if="detail.proposal_status == 4" class="text-info">100%</h1>
                                            <div class="project-label" style="color:#3e3e3e;">Progress</div>
                                            <div class="progress m-t-xs full progress-small">
                                            <div  ng-if="detail.proposal_status == 1|| detail.proposal_status == 5" class=" progress-bar progress-bar-info" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 2" class=" progress-bar progress-bar-info" style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 3" class=" progress-bar progress-bar-info" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 4" class=" progress-bar progress-bar-info" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                            <div class="col-sm-12" >
                            <a ng-hide="detail.useraccess == 1 || detail.proposal_status == 4" ng-click="editpraposal(detail)"><i class="icon-edit3 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Edit"></i></a>
                               <a ng-click="priweviemode(detail)"><i class="icon-search2 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Preview"></i></a>  
                            <a ng-click="clonepraposal(detail)"><i class="icon-copy prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Clone"></i></a>
                             <a  ng-show="isAdmin" ng-click="opencollab(detail)"><i class="icon-share prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Collaborators"></i></a>
                             <a ng-click="emailwindow(detail)"><i class="icon-send prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Email" ></i></a>
                   <a ng-show="isAdmin" ng-click="deletepraposal(detail)"><i class="icon-close4 prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Delete"></i></a>
                   
                    <a ng-click="download(detail)"><i class="icon-download prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Download"></i></a>
                    <a  ng-click="costprofitanalysis(detail)"><i class="icon-amount prl15 " style="font-size:20px"  uib-tooltip="Cost Profit" data-toggle="tooltip" tooltip-placement="bottom"></i></a>
                    
                              <!--<i class="pe-7s-ribbon fa-2x prl15"></i>-->
                             
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-6" ng-show="openpraposal" ng-repeat="detail in praposaldata | filter: { proposal_status: '1' }" >
        <div class="hpanel " ng-repeat="info in praposalactivitydata"  >
                    <div class="panel-body"  >
                        <div class="row projects">
                        <div class="col-sm-12">
                            <h4 class="mtmb015">{{detail.name}}</h4>
                        
                              <div class="well">
                                
                                <small>{{info.proposal_activity}}</small><br>
                                <p>{{info.created_at}}</p>
                                </div>
                                  
                        </div>
                         <div class="col-sm-8" style="border-right:1px dashed #7384b6;" >
                               <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Client</a></div>
                                        <small>{{detail.firstname}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Version</a></div>
                                        <small>{{detail.proposal_version_number}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Deadline</a></div>
                                          <small ng-class="{ 'help-block' : detail.redflag=='expire' }">{{detail.delivery_date}}</small>
                                    </div>
                                     <div class="col-sm-12" >
                                        <h2 > ${{detail.cost}}</h2>
                                    </div>
                                     <div class="col-sm-12" >
                                     <br>

                                        <div class="project-people">
                                        <button   class="btn btn-white btn-circle" style="width:2px !important; background-color:#ffffff !important; border-color:#ffffff !important;  visibility: hidden; margin-right: 0px !important;" type="button">&nbsp;</button>

                                         <button ng-repeat="c1 in detail.collaborator track by $index"   class="btn btn-primary btn-circle" type="button">{{c1}}</button>
                                        </div><br><br>
                                </div>
                                    
                                </div>
                            </div>
                         <div class="col-sm-4" >
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="project-label">Status</div>
                                        <small ng-if="detail.proposal_status == 1">Open <br></small>
                                        <small ng-if="detail.proposal_status == 2">Sent <br></small>
                                        <small ng-if="detail.proposal_status == 3">Under Review <br></small>
                                        <small ng-if="detail.proposal_status == 4">Closed<br></small>
                                        <small ng-if="detail.proposal_status == 5">Reopen<br></small>
                                        
                                        <br><br>
                                    </div>
                                    <div class="col-sm-12" >
                                       <div class="project-value" style="border-top:1px dashed #7384b6;">
                                            <h1  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class="text-info">25%</h1>
                                            <h1  ng-if="detail.proposal_status == 2" class="text-info">50%</h1>
                                            <h1  ng-if="detail.proposal_status == 3" class="text-info">75%</h1>
                                            <h1  ng-if="detail.proposal_status == 4" class="text-info">100%</h1>
                                            <div class="project-label" style="color:#3e3e3e;">Progress</div>
                                            <div class="progress m-t-xs full progress-small">
                                            <div  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class=" progress-bar progress-bar-info" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 2" class=" progress-bar progress-bar-info" style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 3" class=" progress-bar progress-bar-info" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 4" class=" progress-bar progress-bar-info" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                            <div class="col-sm-12" >
                            <a ng-hide="detail.useraccess == 1" ng-click="editpraposal(detail)"><i class="icon-edit3 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Edit"></i></a>
                               <a ng-click="priweviemode(detail)"><i class="icon-search2 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Preview"></i></a>  
                            <a ng-click="clonepraposal()"><i class="icon-copy prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Clone"></i></a>
                             <a ng-show="isAdmin" ng-click="opencollab(detail)"><i class="icon-share prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Collaborators"></i></a>
                             <a ng-click="emailwindow(detail)"><i class="icon-send prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Email" ></i></a>
                   <a ng-show="isAdmin" ng-click="deletepraposal(detail)"><i class="icon-close4 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Delete"></i></a>
                   
                    <a ng-click="download(detail)"><i class="icon-download prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Download"></i></a>
                    <a  ng-click="costprofitanalysis(detail)"><i class="icon-amount prl15 " style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Cost Profit"></i></a>
                    
                              <!--<i class="pe-7s-ribbon fa-2x prl15"></i>-->
                             
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-6" ng-show="underreviewpraposal" ng-repeat="detail in praposaldata | filter: { proposal_status: '3' }" >
       <div class="hpanel " ng-repeat="info in praposalactivitydata"  >
                    <div class="panel-body"  >
                        <div class="row projects">
                        <div class="col-sm-12">
                           <h4 class="mtmb015">{{detail.name}}</h4>
                        
                                <div class="well">
                                <small>{{info.proposal_activity}}</small><br>
                                <p>{{info.created_at}}</p>
                                </div>
                                  
                        </div>
                         <div class="col-sm-8" style="border-right:1px dashed #7384b6;" >
                               <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Client</a></div>
                                        <small>{{detail.firstname}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Version</a></div>
                                        <small>{{detail.proposal_version_number}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Deadline</a></div>
                                          <small ng-class="{ 'help-block' : detail.redflag=='expire' }">{{detail.delivery_date}}</small>                                    </div>
                                     <div class="col-sm-12" >
                                        <h2> ${{detail.cost}}</h2>
                                    </div>
                                     <div class="col-sm-12" >
                                     <br>
             
                                        <div class="project-people">
                                           <button   class="btn btn-white btn-circle" style="width:2px !important; background-color:#ffffff !important; border-color:#ffffff !important;  visibility: hidden; margin-right: 0px !important;" type="button">&nbsp;</button>
                                           
                                          <button ng-repeat="c1 in detail.collaborator track by $index"   class="btn btn-primary btn-circle" type="button">{{c1}}</button>
                                        </div><br><br>
                                </div>
                                    
                                </div>
                            </div>
                         <div class="col-sm-4" >
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="project-label">Status</div>
                                        <small ng-if="detail.proposal_status == 1">Open <br></small>
                                        <small ng-if="detail.proposal_status == 2">Sent <br></small>
                                        <small ng-if="detail.proposal_status == 3">Under Review <br></small>
                                         <small ng-if="detail.proposal_status == 4">Closed<br></small>
                                        <small ng-if="detail.proposal_status == 5">Reopen<br></small>
                                        <br><br>
                                    </div>
                                    <div class="col-sm-12" >
                                       <div class="project-value" style="border-top:1px dashed #7384b6;">
                                           <h1  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class="text-info">25%</h1>
                                            <h1  ng-if="detail.proposal_status == 2" class="text-info">50%</h1>
                                            <h1  ng-if="detail.proposal_status == 3" class="text-info">75%</h1>
                                            <h1  ng-if="detail.proposal_status == 4" class="text-info">100%</h1>
                                            <div class="project-label" style="color:#3e3e3e;">Progress</div>
                                            <div class="progress m-t-xs full progress-small">
                                            <div  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class=" progress-bar progress-bar-info" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 2" class=" progress-bar progress-bar-info" style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 3" class=" progress-bar progress-bar-info" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 4" class=" progress-bar progress-bar-info" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                            <div class="col-sm-12" >
                            <a ng-hide="detail.useraccess == 1" ng-click="editpraposal(detail)"><i class="icon-edit3 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Edit"></i></a>
                               <a ng-click="priweviemode(detail)"><i class="icon-search2 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Preview"></i></a>  
                            <a ng-click="clonepraposal(detail)"><i class="icon-copy prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Clone"></i></a>
                             <a ng-show="isAdmin" ng-click="opencollab(detail)"><i class="icon-share prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Collaborators"></i></a>
                             <a ng-click="emailwindow(detail)"><i class="icon-send prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Email"></i></a>
                   <a ng-show="isAdmin" ng-click="deletepraposal(detail)"><i class="icon-close4 prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Delete"></i></a>
                   
                    <a ng-click="download(detail)"><i class="icon-download prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Download"></i></a>
                    <a  ng-click="costprofitanalysis(detail)"><i class="icon-amount prl15 " style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Cost Profit"></i></a>
                    
                              <!--<i class="pe-7s-ribbon fa-2x prl15"></i>-->
                             
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-6" ng-show="closedpraposal" ng-repeat="detail in praposaldata | filter: { proposal_status: '4' }" >
        <div class="hpanel " ng-repeat="info in praposalactivitydata"  >
                    <div class="panel-body"  >
                        <div class="row projects">
                        <div class="col-sm-12">
                           <h4 class="mtmb015">{{detail.name}}</h4>
                        
                                <div class="well">
                                <small>{{info.proposal_activity}}</small><br>
                                <p>{{info.created_at}}</p>
                                </div>
                                  
                        </div>
                         <div class="col-sm-8" style="border-right:1px dashed #7384b6;" >
                               <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Client</a></div>
                                        <small>{{detail.firstname}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Version</a></div>
                                        <small>{{detail.proposal_version_number}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Deadline</a></div>
                                         <small ng-class="{ 'help-block' : detail.redflag=='expire' }">{{detail.delivery_date}}</small>
                                    </div>
                                     <div class="col-sm-12" >
                                        <h2 > ${{detail.cost}}</h2>
                                    </div>
                                     <div class="col-sm-12" >
                                     <br>
                                        <div class="project-people">
                                          <button   class="btn btn-white btn-circle" style="width:2px !important; background-color:#ffffff !important; border-color:#ffffff !important;  visibility: hidden; margin-right: 0px !important;" type="button">&nbsp;</button>
                                           <button ng-repeat="c1 in detail.collaborator track by $index"   class="btn btn-primary btn-circle" type="button">{{c1}}</button>
                                        </div><br><br>
                                </div>
                                    
                                </div>
                            </div>
                         <div class="col-sm-4" >
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="project-label">Status</div>
                                        <small ng-if="detail.proposal_status == 1">Open <br></small>
                                        <small ng-if="detail.proposal_status == 2">Sent <br></small>
                                        <small ng-if="detail.proposal_status == 3">Under Review <br></small>
                                         <small ng-if="detail.proposal_status == 4">Closed<br></small>
                                         <small ng-if="detail.proposal_status == 5">Reopen<br></small>
                                        
                                        <br><br>
                                    </div>
                                    <div class="col-sm-12" >
                                       <div class="project-value" style="border-top:1px dashed #7384b6;">
                                           <h1  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class="text-info">25%</h1>
                                            <h1  ng-if="detail.proposal_status == 2" class="text-info">50%</h1>
                                            <h1  ng-if="detail.proposal_status == 3" class="text-info">75%</h1>
                                            <h1  ng-if="detail.proposal_status == 4" class="text-info">100%</h1>
                                             <div class="project-label" style="color:#3e3e3e;">Progress</div>
                                            <div class="progress m-t-xs full progress-small">
                                            <div  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class=" progress-bar progress-bar-info" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 2" class=" progress-bar progress-bar-info" style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 3" class=" progress-bar progress-bar-info" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 4" class=" progress-bar progress-bar-info" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                            <div class="col-sm-12" >
                           

                               <a ng-click="priweviemode(detail)"><i class="icon-search2 prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Preview"></i></a>  
                            <a ng-click="clonepraposal(detail)"><i class="icon-copy prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Clone"></i></a>
                             <a ng-show="isAdmin" ng-click="opencollab(detail)"><i class="icon-share prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Collaborators"></i></a>
                             <a ng-click="emailwindow(detail)"><i class="icon-send prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Email" ></i></a>
                   <a ng-show="isAdmin" ng-click="deletepraposal(detail)"><i class="icon-close4 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Delete"></i></a>
                   
                    <a ng-click="download(detail)"><i class="icon-download prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Download"></i></a>
                    <a ng-click="costprofitanalysis(detail)"><i class="icon-amount prl15 " style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Cost Profit"></i></a>
                    
                              <!--<i class="pe-7s-ribbon fa-2x prl15"></i>-->
                             
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col-lg-6" ng-show="rejectproposal" ng-repeat="detail in praposaldata | filter: { is_won:'0' } && {proposal_status:'4' } " >
       <div class="hpanel " ng-repeat="info in praposalactivitydata"  >
                    <div class="panel-body"  >
                        <div class="row projects">
                        <div class="col-sm-12">
                            <h4 class="mtmb015">{{detail.name}}</h4>
                        
                                <div class="well">
                                <small>{{info.proposal_activity}}</small><br>
                                <p>{{info.created_at}}</p>
                                </div>
                                  
                        </div>
                         <div class="col-sm-8" style="border-right:1px dashed #7384b6;" >
                               <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Client</a></div>
                                        <small>{{detail.firstname}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Version</a></div>
                                        <small>{{detail.proposal_version_number}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Deadline</a></div>
                                          <small ng-class="{ 'help-block' : detail.redflag=='expire' }">{{detail.delivery_date}}</small>
                                    </div>
                                     <div class="col-sm-12" >
                                        <h2> ${{detail.cost}}</h2>
                                    </div>
                                     <div class="col-sm-12" >
                                     <br>
             
                                        <div class="project-people">
                                           <button   class="btn btn-white btn-circle" style="width:2px !important; background-color:#ffffff !important; border-color:#ffffff !important;  visibility: hidden; margin-right: 0px !important;" type="button">&nbsp;</button>

                                          <button  ng-repeat="c1 in detail.collaborator track by $index" class="btn btn-primary btn-circle" type="button">{{c1}}</button>
                                        </div><br><br>
                                </div>
                                    
                                </div>
                            </div>
                         <div class="col-sm-4" >
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="project-label">Status</div>
                                        <small ng-if="detail.proposal_status == 1">Open <br></small>
                                        <small ng-if="detail.proposal_status == 2">Sent <br></small>
                                        <small ng-if="detail.proposal_status == 3">Under Review <br></small>
                                         <small ng-if="detail.proposal_status == 4">Closed<br></small>
                                         <small ng-if="detail.proposal_status == 5">Reopen<br></small>
                                        
                                        <br><br>
                                    </div>
                                    <div class="col-sm-12" >
                                       <div class="project-value" style="border-top:1px dashed #7384b6;">
                                           <h1  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class="text-info">25%</h1>
                                            <h1  ng-if="detail.proposal_status == 2" class="text-info">50%</h1>
                                            <h1  ng-if="detail.proposal_status == 3" class="text-info">75%</h1>
                                            <h1  ng-if="detail.proposal_status == 4" class="text-info">100%</h1>
                                             <div class="project-label" style="color:#3e3e3e;">Progress</div>
                                            <div class="progress m-t-xs full progress-small">
                                            <div  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class=" progress-bar progress-bar-info" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 2" class=" progress-bar progress-bar-info" style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 3" class=" progress-bar progress-bar-info" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 4" class=" progress-bar progress-bar-info" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                            <div class="col-sm-12" >
                           <button class="btn w-xs btn-success" ng-click="proposalreopen(detail)">Reopen</button>
                    
                              <!--<i class="pe-7s-ribbon fa-2x prl15"></i>-->
                             
                            </div>
                        </div>
                    </div>
                </div>
        </div>
         <div class="col-lg-6" ng-show="reopenproposal" ng-repeat="detail in praposaldata | filter: { proposal_status: '5'}" >
       <div class="hpanel " ng-repeat="info in praposalactivitydata"  >
                    <div class="panel-body"  >
                        <div class="row projects">
                        <div class="col-sm-12">
                            <h4 class="mtmb015">{{detail.name}}</h4>
                        
                                <div class="well">
                                <small>{{info.proposal_activity}}</small><br>
                                <p>{{info.created_at}}</p>
                                </div>
                                  
                        </div>
                         <div class="col-sm-8" style="border-right:1px dashed #7384b6;" >
                               <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Client</a></div>
                                        <small>{{detail.firstname}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Version</a></div>
                                        <small>{{detail.proposal_version_number}}</small>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="project-label"><a>Deadline</a></div>
                                          <small ng-class="{ 'help-block' : detail.redflag=='expire' }">{{detail.delivery_date}}</small>
                                    </div>
                                     <div class="col-sm-12" >
                                        <h2> ${{detail.cost}}</h2>
                                    </div>
                                     <div class="col-sm-12" >
                                     <br>
             
                                        <div class="project-people">
                                          <button   class="btn btn-white btn-circle" style="width:2px !important; background-color:#ffffff !important; border-color:#ffffff !important;  visibility: hidden; margin-right: 0px !important;" type="button">&nbsp;</button>
                                          <button ng-repeat="c1 in detail.collaborator track by $index"   class="btn btn-primary btn-circle" type="button">{{c1}}</button>
                                        </div><br><br>
                                </div>
                                    
                                </div>
                            </div>
                         <div class="col-sm-4" >
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="project-label">Status</div>
                                        <small ng-if="detail.proposal_status == 1">Open <br></small>
                                        <small ng-if="detail.proposal_status == 2">Sent <br></small>
                                        <small ng-if="detail.proposal_status == 3">Under Review <br></small>
                                         <small ng-if="detail.proposal_status == 4">Closed<br></small>
                                         <small ng-if="detail.proposal_status == 5">Reopen<br></small>
                                        
                                        <br><br>
                                    </div>
                                    <div class="col-sm-12" >
                                       <div class="project-value" style="border-top:1px dashed #7384b6;">
                                           <h1  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class="text-info">25%</h1>
                                            <h1  ng-if="detail.proposal_status == 2" class="text-info">50%</h1>
                                            <h1  ng-if="detail.proposal_status == 3" class="text-info">75%</h1>
                                            <h1  ng-if="detail.proposal_status == 4" class="text-info">100%</h1>
                                             <div class="project-label" style="color:#3e3e3e;">Progress</div>
                                            <div class="progress m-t-xs full progress-small">
                                            <div  ng-if="detail.proposal_status == 1 || detail.proposal_status == 5" class=" progress-bar progress-bar-info" style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 2" class=" progress-bar progress-bar-info" style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 3" class=" progress-bar progress-bar-info" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                             <div  ng-if="detail.proposal_status == 4" class=" progress-bar progress-bar-info" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                       <div class="row">
                            <div class="col-sm-12" >
                            <a ng-hide="detail.useraccess == 1" ng-click="editpraposal(detail)"><i class="icon-edit3 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Edit"></i></a>
                               <a ng-click="priweviemode(detail)"><i class="icon-search2 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Preview"></i></a>  
                            <a ng-click="clonepraposal(detail)"><i class="icon-copy prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Clone"></i></a>
                             <a ng-show="isAdmin" ng-click="opencollab(detail)"><i class="icon-share prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Collabortors"></i></a>
                             <a ng-click="emailwindow(detail)"><i class="icon-send prl15 border-right" style="font-size:20px"data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Email" ></i></a>
                   <a ng-show="isAdmin" ng-click="deletepraposal(detail)"><i class="icon-close4 prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Delete"></i></a>
                   
                    <a ng-click="download(detail)"><i class="icon-download prl15 border-right" style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Download"></i></a>
                    <a  ng-click="costprofitanalysis(detail)"><i class="icon-amount prl15 " style="font-size:20px" data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip="Cost Profit"></i></a>
                    
                              <!--<i class="pe-7s-ribbon fa-2x prl15"></i>-->
                             
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
       </div>
    </div>