
  <div class="modal-dialog modal-lg" style="margin:0px; width:100% !important;" ng-controller="pricingsettingCtrl">
  
  
  <div class="color-line"></div>   
<div class="modal-header"> 
  <h4 class="modal-title">Add Price Block
   <a ng-click="closepricebar()"> <span class="pull-right">
       <i class="pe-7s-close fa-2x"></i> 
    </span></a>
  </h4> 
</div>


<div class="content" effect="zoomIn">
      
 
<div class="setting">
  <div class="row">
    <div class="col-lg-12" >
      <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlerts($index)" id="display-error-home">{{alert.msg}}</uib-alert>
      <uib-alert ng-repeat="error in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{error}}</uib-alert>
    </div>
  </div>

 <div class="row">
   <div class="takadd">
      <form name="priceForm">
        
         <div class="row">
          
            <div class="col-md-4">
                <div class="form-group required" ng-class="{'has-error': priceForm.Taskcategory.$touched && priceForm.Taskcategory.$error.required  && priceForm.submit}">
                  <label class="control-label">Product/Service name</label><br>
               <input name="Taskcategory" type="text" class="form-control" placeholder="Product/Service name" id="user-pass" ng-model="productname" required>
              </div>
              </div>
              <div class="col-md-2">
                
                <div class="form-group required" ng-class="{'has-error': priceForm.skid.$touched && priceForm.skid.$error.required   && priceForm.submit}">
                  <label class="control-label">SKU</label><br>
               <input name="skid" type="text" class="form-control" placeholder="SKU" id="user-pass" ng-model="skuid" required>
              </div>
            </div>
              
              <div class="col-md-2">
                <div class="form-group required" ng-class="{'has-error': priceForm.quntaty.$touched && priceForm.quntaty.$error.required  && priceForm.submit}">
                   <label class="control-label">Quantity</label><br>
               <input name="quntaty" type="text" class="form-control" placeholder="QTY" id="user-pass" ng-model="quantity" ng-blur="mulall(quantity,unitcost,unitprice)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
               <span class="help-block"  ng-show="priceForm.quntaty.$touched && priceForm.quntaty.$invalid">Invalid</span>
              </div>
            </div>
              <div class="col-md-2">
                  <div class="form-group required" ng-class="{'has-error': priceForm.ucost.$touched && priceForm.ucost.$error.required && priceForm.submit}">
                     <label class="control-label">Unit Cost</label><br>
               <input name="ucost" type="text" class="form-control" placeholder="Unit Cost" id="user-pass" ng-model="unitcost" required ng-blur="mul(quantity,unitcost)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                 <span class="help-block"  ng-show="priceForm.ucost.$touched && priceForm.ucost.$invalid">Invalid</span>
              </div>
            </div>
              <div class="col-md-2">
                 <div class="form-group required" ng-class="{'has-error': priceForm.uprice.$touched && priceForm.uprice.$error.required && priceForm.submit}">
                  <label class="control-label">Unit Price</label><br>
               <input name="uprice" type="text" class="form-control" placeholder="Unit Price" id="user-pass"  ng-model="unitprice" required ng-blur="mul1(quantity,unitprice)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                <span class="help-block"  ng-show="priceForm.uprice.$touched && priceForm.uprice.$invalid">Invalid</span>
              </div>
            </div>
          </div>


            <div class="row">
              <div class="col-md-3"><div class="form-group required" > <label class="control-label">Currency</label><br> 
              <div class="dropdown">
                    <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown" ng-options="money.currencyid as money.currency_code for money in currancys" ng-model="moneys">
          <option value="">--Select--</option></select></select>
                   </div>
                  </div>
              </div>
            

              
              
              <div class="col-md-3"><div class="form-group required" ><label class="control-label">Source</label><br>
             <div class="dropdown">
                     <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown"  ng-model="source" ng-options="s.id as s.type for s in sources">
           <option value="">--Select--</option></select>
          </div>
        </div>
              </div>
              <div class="col-md-2" ng-show="source == '2'"><div class="form-group required" ><label class="control-label">Vendors</label><br> 
                <div class="dropdown">
                     <select class="form-control dropdown-toggle"  type="button" data-toggle="dropdown"  ng-model="vendors"  ng-options="vd.vendor_id as vd.displayname for vd in vendorsdata ">
           <option value="">--Select--</option></select>
                    </div>
                  </div>
              </div>
                <div class="col-md-2">
                
               <!--<input name="uprice" type="text" class="form-control" placeholder="Total Price" id="user-pass" ng-model="totalprice" required>-->
                <p>Total Cost</p><br>
                <p>{{totalcost| number: 2}}</p>
             
            </div>
              <div class="col-md-2">
                
               <!--<input name="uprice" type="text" class="form-control" placeholder="Total Cost" id="user-pass" ng-model="totalcost" required>-->
              
                 <p>Total Price</p><br>
               <p>{{totalprice| number: 2}}</p>
             
            </div>
            </div>

            
            <div class="row"><br>
              <div class="col-md-10">
                <div class="form-group required" >
                 <label class="control-label">Price detailed summary</label><br>
              <textarea class="form-control" rows="5" id="comment" placeholder="Price detailed summary" ng-model="discriptions" ></textarea>
            </div>
          </div><br>
        </div>
        </form>
          <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" ng-click="submitdata()" ng-disabled="priceForm.$invalid" ng-hide="updateprice">Save</button>
                
            </div>
          </div>
           
        </div>
            </div>
     