<div id="header" ng-include="'views/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<style type="text/css">.m-t-xl{margin-top:15px;}
.newbtn{border-radius: 0; padding:54.4% 0px;}</style>
<div id="wrapper">



<div class="content animate-panel">
       
  
<div class="row">

<br><br>


<div class="col-md-12">
        <div class="hpanel">
            <uib-tabset>
                <uib-tab  active="tabOneActive">
                    <uib-tab-heading>
                        Users<p class="help-block" ng-bind="unb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <table datatable="ng" class="table table-striped table-bordered table-hover" >
                        <thead>
                          <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                             <th>Email</th>
                            <th>Created by</th>
                              <th>Action</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="detail in searchdata.users" >
                            <td >{{detail.first_name}}</td>
                            <td>{{detail.last_name}}</td>
                             <td >{{detail.email}}</td>
                             <td>{{detail.created_users_email}}<br>
                           {{detail.created_time}}</td>
                            <td><a href="" title="Update" ng-click="edituser(detail)"  class="btn"><i class="glyphicon glyphicon-pencil"></i></a></td>
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </uib-tab>
                <uib-tab  active="tabTwoActive">
                    <uib-tab-heading>
                        Proposal<p class="help-block" ng-bind="pnb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <table datatable="ng" class="table table-striped table-bordered table-hover" >
                        <thead>
                         <tr>
                            <th>Name</th>
                            <th>Client</th>
                             <th>Email</th>
                            <th>Version</th>
                             <th>Delivery Date</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                         
                          <tr ng-repeat="info in searchdata.proposal" ng-click="openproposal()">
                            
                            <td >{{info.name}}</td>
                            <td>{{info.firstname}}</td>
                             <td >{{info.email}}</td>
                             <td>{{info.proposal_version_number}}</td>
                           <td>{{info.delivery_date}}</td>
                           
                          </tr>
                        
                        </tbody>
                      </table>
                    </div>
                </uib-tab>
                <uib-tab active="tabThreeActive">
                    <uib-tab-heading>
                        Clients<p class="help-block" ng-bind="cnb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <table datatable="ng" class="table table-striped table-bordered table-hover" >
                        <thead>
                          <tr >
                            <th>First Name</th>
                            <th>Last Name</th>
                             <th>Mobile Number</th>
                            <th>Created by</th>
                              <th>Action</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="detail in searchdata.clients" >
                            <td  >{{detail.firstname}}</td>
                            <td>{{detail.lastname}}</td>
                             <td >{{detail.mobile}}</td>
                             <td>{{detail.created_users_email}}<br>
                           {{detail.created_time}}</td>
                            <td><a href="" title="Update" ng-click="editClient(detail)"  class="btn"><i class="glyphicon glyphicon-pencil"></i></a></td>
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </uib-tab>
                <uib-tab active="tabFourActive">
                    <uib-tab-heading>
                        Vendors<p class="help-block" ng-bind="vnb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <table datatable="ng" class="table table-striped table-bordered table-hover" >
                        <thead>
                          <tr>
                            <th>Name</th>
                             <th>Mobile Number</th>
                            <th>Created by</th>
                              <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="detail in searchdata.vendors" >
                            <td  >{{detail.displayname}}</td>
                            <td >{{detail.mobile}}</td>
                            <td>{{detail.created_users_email}}<br>
                             {{detail.created_time}}</td>
                             <td><a href="" title="Update" ng-click="editVendor(detail)"  class="btn"><i class="glyphicon glyphicon-pencil"></i></a></td>
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </uib-tab>
                <uib-tab  active="tabFiveActive">
                    <uib-tab-heading>
                        Task Categories<p class="help-block" ng-bind="tnb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <table datatable="ng" class="table table-striped table-bordered table-hover" >
                        <thead>
                          <tr>
                             <th>Name</th>
                            <th>Created By</th>
                              <th>Action</th>
                           </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="detail in searchdata.projectCategory" >
                          <td >{{detail.categoryname}}</td>
                          <td>{{detail.email}}<br>
                            {{detail.created_time}}</td>
                            <td><a href="" title="Update" ng-click="edittask(detail)"   class="btn"><i class="glyphicon glyphicon-pencil"></i></a></td>
                          
                        
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </uib-tab>
                <uib-tab active="tabSixActive">
                    <uib-tab-heading>
                        Project Task<p class="help-block" ng-bind="prnb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <div class="table-responsive">

                        <table datatable="ng" class="table table-striped table-bordered table-hover" >
                          <thead>
                            <tr>
                              <th>Task Category</th>
                              <th>Man Days</th>
                              <th>Total Cost</th>
                              <th>Created by</th>
                                <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="detail in searchdata.projectTask" >
                             <td  >{{detail.taskshortdesc}}</td>
                              <td>{{detail.mandays}}</td>
                              <td>{{detail.totalcost}}</td>
                              <td>{{detail.email}}<br>
                              {{detail.created_time}}</td>
                               <td><a href="" title="Update"ng-click="editprojecttask(detail)"   class="btn"><i class="glyphicon glyphicon-pencil"></i></a></td>
                          
                            </tr>
                          </tbody>
                        </table>
                        
                      </div>
                    </div>
                </uib-tab>

                <uib-tab active="tabSevenActive">
                    <uib-tab-heading>
                        Notes<p class="help-block" ng-bind="nnb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">
                      <table datatable="ng" class="table table-striped table-bordered table-hover" >
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Created_at</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="nts in searchdata.notes" >
                             <td ><a ng-href="#/notes">{{nts.name}}</a></td>
                              <td>{{nts.created_at}}</td>
                             
                            </tr>
                          </tbody>
                        </table>
                       

                              
                        </div>


                </uib-tab>
                <uib-tab active="tabEightActive">
                    <uib-tab-heading>
                        ToDo's <p class="help-block" ng-bind="tonb"></p>
                    </uib-tab-heading>
                    <div class="panel-body">

                      <table datatable="ng" class="table table-striped table-bordered table-hover" >
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Created_at</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat = "tds in searchdata.todos" >
                             <td > <a ng-href="#/todos">{{tds.taskname}}</a></td>
                            <td > {{tds.created_at}}</td>
                             
                             
                            </tr>
                          </tbody>
                        </table>
                      
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>


<div id="right-sidebar" ng-include="'views/search-add-client.html'" class="sidebar-open" ng-show="Searchclientadd"></div>  
<div id="right-sidebar" ng-include="'views/search-add-vendor.html'" class="sidebar-open" ng-show="Searchvendoradd"></div> 
<div id="right-sidebar" ng-include="'views/search-add-task.html'" class="sidebar-open" ng-show="Searhtaskadd"></div> 
<div id="right-sidebar" ng-include="'views/search-add-projecttask.html'" class="sidebar-open" ng-show="Searhprojecttaskadd"></div> 
<div id="right-sidebar" ng-include="'views/search-add-user.html'" class="sidebar-open" ng-show="useradd"></div> 





	 
	 
	 
 </div>	 
	 </div> 
     </div>




   