<!--<div class="color-line"></div>

<div class="back-link">
</div>-->

<div class="bgimg">

<div class="signup-container" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12">

       <div class="col-md-4 col-md-offset-4 text-center m-b-md">
                <img class="img-responsive" src="images/docubasic_white_logo.png" />
                <uib-alert ng-repeat="alert in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert}}</uib-alert>
                <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
                <uib-alert ng-repeat="alert in loginalerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlert($index)" id="display-error-home">{{alert.msg}}</uib-alert>
            </div>
        </div>
		 <div class="col-md-6">
				<h3 class="login-h1 white">New Tenancy Users</h3>
         </div>
         <div class="col-md-6">
        <h3 class="login-h1 white">Existing Tenancy Users</h3>
         </div>
        <div class="col-md-12">
            
            <div class="hpanel">

                <div class="col-sm-6 no-padding">
                    <div class="signup_doccolor">
                        <form name="etuser">
               <div class="form-group left-addon1 required" ng-class="{'has-error': etuser.companyname.$touched && etuser.companyname.$error.required}">
                <label for="sender-email" class="control-label">Company Name:</label>
               
                 
                  <input name="companyname" id="sender-companyname" type="text"  ng-blur="check()" placeholder="Organisation Name" class="form-control email" ng-model="signup.orgname" style="color:#d1eed8 !important;" ng-trim="false" required>

               
              </div>
              
               <div class="form-group left-addon1 required" ng-class="{'has-error': etuser.Tenancy.$touched && etuser.Tenancy.$error.required}" >
                <label for="sender-email" class="control-label">Tenancy ID </label>
                
               
                  <input name="Tenancy" id="sender-Tenancy" type="text" placeholder="Tenancy ID " class="form-control email" ng-model="signup.tenancy" style="color:#d1eed8 !important;" ng-blur="checkcode()" ng-trim="false" required>
                  <!--<a ng-click="company"><span>don't have Tenancy ID?<span></a>-->
                
              </div>
              <div class="form-group left-addon1 required" ng-class="{'has-error': etuser.username.$touched && etuser.username.$error.required}">
                <label for="sender-email" class="control-label">First Name:</label>
                
                
                  <input name="username" only-words  id="sender-name" ng-minlength="3" ng-maxlength="20" type="text" placeholder="First Name" class="form-control" style="color:#d1eed8 !important;" ng-model="signup.fname" required>
                
                <p ng-show="etuser.username.$error.minlength">First name is too short.</p>
            <p ng-show="etuser.username.$error.maxlength" >First name is too long.</p>
              </div>
              <div class="form-group left-addon1 required" ng-class="{'has-error': etuser.userlname.$touched && etuser.userlname.$error.required}">
                <label for="sender-email" class="control-label">Last Name:</label>
               
                 
                  <input name="userlname" only-words ng-minlength="3" ng-maxlength="20"  id="sender-userlname" type="text" placeholder="Last Name" class="form-control Name" style="color:#d1eed8 !important;" ng-model="signup.lname" required>
               
                <p ng-show="etuser.userlname.$error.minlength" class="danger">Last name is too short.</p>
                <p ng-show="etuser.userlname.$error.maxlength" class="danger">Last name is too long.</p>
              </div>
              <div class="form-group left-addon1 required" ng-class="{'has-error': etuser.email.$touched && etuser.email.$error.required}">
                <label for="sender-email" class="control-label" >Email:</label>
                
                
                  <input name="useremail" id="sender-email" type="text" placeholder="Email" ng-pattern="emailFormat" class="form-control email" style="color:#d1eed8 !important;" ng-model="signup.email" required>
               
              </div>
            </form>
              <div class="form-group">
                <button class="btn btn-default " ng-click="signup()">Sign Up ! </button>
                 
              </div>
            
                    </div>
                </div>
                <div class="col-sm-6 no-padding">
                    <div class="signup_whitecolor">
                        <form name="ntuser">
                <div class="form-group required" ng-class="{'has-error': ntuser.Tenancy.$touched && ntuser.Tenancy.$error.required}">
                <label for="sender-email" class="control-label">Tenancy ID </label>
                
                  
                  <input name="Tenancy" id="sender-Tenancy" type="text" placeholder="Tenancy ID " class="form-control email" ng-model="signup.tenancycode"
                    ng-blur="checkid()"  required>
                    
                  <!--<a ng-click="company"><span>don't have Tenancy ID?<span></a>-->
               
              </div>

            <div class="form-group required" ng-class="{'has-error': ntuser.companyname.$touched && ntuser.companyname.$error.required}">
                <label for="sender-email" class="control-label">Company Name:</label>
                
                 
                  <input name="companyname" id="sender-companyname" type="text" placeholder="Organisation Name" class="form-control email" ng-model="signup.orgname" ng-chnage="check()" required>

               
              </div>
              
              <div class="form-group required" ng-class="{'has-error': ntuser.ntuser.$touched && ntuser.ntuser.$error.required}">
                <label for="sender-email" class="control-label">First Name:</label>
                
                  
                  <input name="username" id="sender-name" only-words  type="text" placeholder="First Name" ng-minlength="3" ng-maxlength="20"  class="form-control email" ng-model="signup.nfname" required>
               
                <p ng-show="ntuser.username.$error.minlength" class="denger">First name is too short.</p>
                <p ng-show="ntuser.username.$error.maxlength" class="denger">First name is too long.</p>
              </div>
              <div class="form-group required" ng-class="{'has-error': ntuser.userlname.$touched && ntuser.userlname.$error.required}">
                <label for="sender-email" class="control-label">Last Name:</label>
                
                 
                  <input name="userlname" id="sender-userlname" only-words  type="text" ng-minlength="3" ng-maxlength="20" placeholder="Last Name" class="form-control Name" ng-model="signup.nlname" required>
                
                <p ng-show="ntuser.userlname.$error.minlength" class="denger">Last name is too short.</p>
                <p ng-show="ntuser.userlname.$error.maxlength" class="denger">Last name is too long.</p>
              </div>
              <div class="form-group required" ng-class="{'has-error': ntuser.useremail.$touched && ntuser.useremail.$error.required}">
                <label for="sender-email" class="control-label" >Email:</label>
                
                  <input name="useremail" id="sender-email" type="text" placeholder="Email"  ng-pattern="emailFormat" class="form-control email" ng-model="signup.nemail" required>
               
              </div>
            </form>
             <div class="form-group">
                <button class="btn btn-success" type="button" ng-click="signupnew()" ng-disabled="ntuser.$invalid"><strong>Sign Up !</strong></button>
               
              </div>
             
</div>






              
            </form>
                    </div>
                </div>



            </div>
        </div>
		

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
		
		



        </div>
    </div>
</div>
</div>
