<div id="header" ng-include="'views/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/navigation.html'"></aside>
<div id="wrapper">

<div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
               

                <div class="pull-right m-t-lg" id="hbreadcrumb">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ng-href="#/main">Dashboard</a></li>
                       
                        <li class="active">
                            <span>Resource Type</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Resource Type
                </h2>
                <small></small>
            </div>
        </div>
    </div>

<div class="resource">
   <uib-alert ng-repeat="alert in alerts" class="display-alert" type="{{alert.type}}" close="closeAlerts($index)" ng-click="closeAlerts($index)" id="display-error-home">{{alert.msg}}</uib-alert>
   <uib-alert ng-repeat="error in errors" class="display-alert" type="{{alert.type}}" close="closeAlert($index)" ng-click="closeAlert($index)" id="display-error-home">{{error}}</uib-alert>
 <div class="content" animate-panel effect="zoomIn">
 
 	<div class="row">
<div class="col-lg-12" >
<div class="hpanel">
	 <div class="panel-body">
 
 		
 		<button class="btn btn-primary pull-right"  ng-model="collapsed" ng-click="resourcesection()" >New Resource</button>
 	<br>
 	<div class="takadd" ng-show="collapsed"><br>
    <form name="resource">
 		
 					<div class="row">
 						<div class="col-md-4">
               <div class="form-group required" ng-class="{'has-error': resource.rname.$touched && resource.rname.$error.required}">
 							<input name="rname" type="text" class="form-control" placeholder="Resource Type Name" id="user-pass" ng-model="resourcename" required>
            </div>
 						</div>
 						<div class="col-md-4">
              <div class="form-group required" ng-class="{'has-error': resource.dailycost.$touched && resource.dailycost.$error.required}">
                  <input name="dailycost" type="text" class="form-control" placeholder="Daily Cost" id="user-pass" ng-model="dailycost" required>
                </div>
 					</div>
        </div><br>

 				<div class="row">
 					<div class="col-md-4">
 						 <div class="dropdown">
    								 <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown"  ng-model="vendors"  ng-options="money.vendor_id as money.displayname for money in vendorsdata">
            <span class="caret"></span></select>
    								
  								</div>
  							</div>
 						<div class="col-md-4">
              <div class="dropdown"> 
                     <select class="form-control dropdown-toggle" type="button" data-toggle="dropdown"  ng-model="source" ng-options="money.id as money.type for money in sources">
            <span class="caret"></span></select>
          </div>
            </div>
 					
 						</div>
 					<br>

 					<div class="row">
 						<div class="col-md-8">
               <div class="form-group required" ng-class="{'has-error': resource.dailyprce.$touched && resource.dailyprce.$error.required}">
 							<input name="dailyprce" type="text" class="form-control" placeholder="Daily Price" id="user-pass" ng-model="dailyprice" required>
            </div>
 						</div>
						</div>
 					<br>

 					<div class="row">
 					<div class="col-md-12">
 						<button class="btn btn-primary" ng-click="insertresource()"  ng-disabled="resource.$invalid" ng-hide="update">save</button>
              <button class="btn btn-primary" ng-click="updateresourcedata()"  ng-disabled="resource.$invalid" ng-show="update">Update</button>
              <button class="btn btn-primary" ng-click="closeresource()">Close</button>
 					</div>
 					</div><br>
 					

 	</div>

 </div>

<br><br>

<div class="panel-body pn" >

   <table datatable="ng" class="table table-striped table-bordered table-hover" >
      <thead>
        <tr>
            <th>Name</th>
          <th>Daily price</th>
          <th>Daily cost</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="detail in allresource" >
       <td >{{detail.resourcename}}</td>
          <td>{{detail.dailyprice}}</td>
          <td>{{detail.dailycost}}</td>
         
          <td><a href="" title="Update" ng-click="updateresource(detail)" class="btn"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="" title="Delete" ng-click="deleteresource(detail)" class="btn"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>
</div>
</div>


</div>
</div>
